@model CPSWebApplication.Models.ViewModel.DesignCPSViewModel

@{
    ViewBag.Title = "StudentCPSDesign";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Initial CPS</h2>
@if (TempData["Message"] != null)
{<div div class="alert alert-dismissable alert-success">@TempData["Message"]</div>}

@using (Html.BeginForm("StudentCPSDesignTest", "DesignCPS", FormMethod.Post))
{
    <table id="cphMainContent_dgvUsers" class="table table-hover table-striped"
           cellspacing="0" style="border-collapse:collapse;">
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(model => model.academicYear, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.academicYear, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </td>
                <td>
                    @Html.LabelFor(model => model.majorName, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.majorName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.lastName, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.lastName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </td>
                <td>
                    @Html.LabelFor(model => model.firstName, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </td>
                <td>
                    @Html.LabelFor(model => model.searchId, new { @class = "control-label col-md-2" })
                </td>
                <td>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.searchId, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>

    <div class="form-group" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <h4>Assign Faculty Advisor to Student:</h4>
        @Html.LabelFor(model => model.assignedFaculty, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.assignedFaculty, new SelectList(Model.DfacultiesList))
         </div>
     </div>
    <br/>

    <div class="form-group" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        <h4>Foundation Courses:</h4>
        <table id="cphMainContent_dgvUsers" class="table table-hover table-striped"
               cellspacing="0" style="border-collapse:collapse;">
            <tbody>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Credits</th>
                </tr>
                @for (int i = 0; i < Model.FoundationClassesList.Count(); i++)
                {

                    <tr class="cursor-pointer">
                        <td>
                            @Html.CheckBoxFor(x => x.FoundationClassesList[i].IsSelected)
                            @Model.FoundationClassesList[i].CourseShortName
                        </td>
                        <td>@Model.FoundationClassesList[i].CourseFullName</td>
                        <td>@Model.FoundationClassesList[i].CreditHrs</td>
                    </tr>
                }
                    <tr><th class="h4">Core Courses:</th></tr>
                    @for (int i = 0; i < Model.CoreClassesList.Count(); i++)
                    {
                        <tr class="cursor-pointer">
                            <td>

                                @Model.CoreClassesList[i].CourseShortName
                            </td>
                            <td>@Model.CoreClassesList[i].CourseFullName</td>
                            <td>@Model.CoreClassesList[i].CreditHrs</td>
                        </tr>


                    }
            </tbody>
        </table>
    </div>
 
    <div>
        @if (TempData["Message"] != null)
        {<div style="color: #1e83ca;">@TempData["Message"]</div>}
        <button name="action" value="back" type="submit" class="btn btn-default hidden-print" onclick="window.location = ('@Url.Action("","")')">Back to Home</button>
        <button name="action" value="saveAsDraft" type="submit" class="btn btn-success hidden-print" onclick="window.location = ('@Url.Action("","")')">Save</button>

        <button name="action" value="save" type="submit" class="btn btn-success hidden-print" onclick="window.location = ('@Url.Action("","")')">Submit</button>

        

        <a href="javascript:window.print()" class="btn btn-info hidden-print">
            <span class="glyphicon glyphicon-print"></span> Print
        </a>

    </div>
}   