@model CPSWebApplication.Models.ViewModel.DesignCPSViewModel
@{
    ViewBag.Title = "GenerateCPSView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Initial CPS</h3>
   @using (Html.BeginForm("GenerateCPSView", "AcademicAdvisor"))
    {
        <table id="cphMainContent_dgvUsers" class="table table-hover table-striped"
               cellspacing="0" style="border-collapse:collapse;">
            <tbody>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.academicYear, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.academicYear, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(model => model.majorName, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.majorName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.lastName, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(model => model.firstName, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                    <td>
                        @Html.LabelFor(model => model.searchId, new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.searchId, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <h4>Foundation Courses:</h4>

            <table id="cphMainContent_dgvUsers" class="table table-hover table-striped"
                   cellspacing="0" style="border-collapse:collapse;">
                <tbody>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Credits</th>
                        <th scope="col">EnrolledSemester</th>
                        <th scope="col">Grade</th>
                    </tr>
                    @if (Model.FoundationClassesList != null)
                {
                    for (int i = 0; i < Model.FoundationClassesList.Count(); i++)
                    {

                            <tr class="cursor-pointer">
                                <td>@Model.FoundationClassesList[i].CourseShortName</td>
                                <td>@Model.FoundationClassesList[i].CourseFullName</td>
                                <td>@Model.FoundationClassesList[i].CreditHrs</td>
                            </tr>

                        }
                    }
                    <tr><th class="h4">Core Courses:</th></tr>
                        @for (int i = 0; i < Model.CoreClassesList.Count(); i++)
                        {
                            <tr class="cursor-pointer">
                                <td>@Model.CoreClassesList[i].CourseShortName </td>
                                <td>@Model.CoreClassesList[i].CourseFullName</td>
                                <td>@Model.CoreClassesList[i].CreditHrs</td>
                                <td>@Model.CoreClassesList[i].EnrolledSemester</td>
                                <td>@Model.CoreClassesList[i].GradesRecieved</td>

                            </tr>
                        }
                    <tr><th class="h4">Elective Courses:</th></tr>
                    @if (Model.ElectiveClassesList != null)
                    {
                        for (int i = 0; i < Model.ElectiveClassesList.Count(); i++)
                        {
                            <tr class="cursor-pointer">
                                <td>@Model.ElectiveClassesList[i].CourseShortName </td>
                                <td>@Model.ElectiveClassesList[i].CourseFullName</td>
                                <td>@Model.ElectiveClassesList[i].CreditHrs</td>
                                <td>@Model.ElectiveClassesList[i].EnrolledSemester</td>
                                <td>@Model.ElectiveClassesList[i].GradesRecieved</td>

                            </tr>
                        }
                    }
                </tbody>
            </table>


        </div>
  
                <div>
                 <button type="button" class="btn btn-default hidden-print" onclick="window.location = ('@Url.Action("AcademicAdvisor", "Home", new { id = Convert.ToInt32(@Session["UserID"]) })')">BACK TO HOME </button>
                    <a href="javascript:window.print()" class="btn btn-info hidden-print ">
                        <span class="glyphicon glyphicon-print"></span> Print
                    </a>

                </div>

    }

