@model CPSWebApplication.Models.ViewModel.DesignCPSViewModel

@{
    ViewBag.Title = "ViewDraftCPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ViewDraftCPS", "AcademicAdvisor", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.searchId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.searchId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.searchId, "", new { @class = "text-danger" })
            <br />
            <button type="submit" name="action" value="ProcessForm1" class="btn btn-success" onclick="window.location = ('@Url.Action("GenerateViewDraftCPS","AcademicAdvisor")')">Submit </button>
            <br />
        </div>
    </div>
}
<!--<button type="button" class="btn btn-default" onclick="window.location = ('@Url.Action("AcademicAdvisor", "Home", new { id = Convert.ToInt32(@Session["UserID"]) })')">BACK TO HOME </button>-->

